<h1>Show Story</h1>
<div class="row">
    <div class="col s12 m8">
        <h3>
            {{story.title}}
            <small>{{{editIcon story.user.id user.id story.id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
                {{{story.body}}}
            </div>
        </div>
        {{#if story.allowComments}}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Comments</span>
                    {{#if user}}
                        <form action="/stories/comment/{{story.id}}" method="post">
                            <div class="input-field">
                                <textarea name="commentBody" id="" cols="30" rows="10"
                                          class="materialize-textarea"></textarea>
                                <label for="">Add Comment</label>
                            </div>
                            <input type="submit" value="Submit" class="btn">
                        </form>
                    {{else}}
                        <p>please <a href="/auth/login">login</a> to comment</p>
                    {{/if}}
                </div>
            </div>
            {{#each story.comments}}
                <div class="card">
                    <div class="card-content">
                        <h5>{{commentBody}}</h5>
                        <div class="chip">
                            <img src="{{commentUser.image}}" alt="Contact Person">
                            {{commentUser.firstName}} {{commentUser.lastName}}
                        </div>
                        <br>
                        <small>Posted: {{formatDate commentDate 'MMMM do YYYY'}}</small>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">
                    {{story.user.firstName}} {{story.user.lastName}}
                </span>
                <img src="{{story.user.image}}" class="circle responsive-img" alt="">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user.id}}">More from {{story.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>